.c-col-img-dimensions {
  position: relative;
  width: 35%;
  padding-right: 1rem;
}

.c-col-text-dimensions {
  position: relative;
  width: 65%;
}

.c-col-img-automator {
  position: relative;
  width: 65%;
  padding-left: 1rem;
}
