.c-col-img-zeeman {
  position: relative;
  width: 40%;
  padding-left: 1rem;
}

.c-col-img-atoms {
  position: relative;
  width: 15%;
  padding-right: 1rem;
}

.c-col-text-results {
  position: relative;
  width: 85%;
}
