.c-project-layout {
  place-self: center;
  text-align: left;
}

.c-project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.c-single-project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #aaa;
  color: black;
  margin: 0.3rem;
  border: 0.2rem solid #888;
  border-radius: 1rem;
  width: calc(50% - 2rem);
  min-width: 22rem;
  padding: 0.5rem;
}

.o-project-card-title {
  font-size: 1.8rem;
}

/* #region Common Project elements */

.c-centered-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.o-header-image {
  width: 80%;
}

.o-centered-image {
  width: 60%;
}

.c-img-fixed-size {
  object-fit: cover;
  height: 20rem;
  margin-bottom: 1rem;
}

.o-return-link {
  position: absolute;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* #endregion Common Project elements */

.c-project-list-bg {
  background-image: url("/bg/Project_List.png");
  filter: blur(0.25rem);
}
