
.c-intro {
  margin-top: 2rem;
  width: 100%;
  text-align: left;
}

.c-projects {
  margin-bottom: 5rem;
  width: 100%;
}

.o-collapse-toggle {
  width: 6rem;
  background-color: #666;
  border: 0.15rem solid #888;
  padding: 0.5rem;
  text-align: center;
}

.c-collapsed-entry {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 60%;
}

.o-collapsed-entry-img {
  width: 100%;
}

.c-collapsed-entry-info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.c-expanded-entry {
  width: 100%;
  text-align: left;
  border: 0.1rem dashed black;
  padding: 1rem;
}

.c-blender-bg {
  background-image: url("/bg/blender.png");
}
