.c-single-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    to right,
   #004 0% 18%,
   orange 25%,
   cyan 32% 68%,
   orange 75%,
   #004 82% 100%);
  border: 0.1rem gray;
  border-style: none dotted;
  height: 100%;
  width: 100%;
}

.c-single-day:first-child {
  border-style: none dotted none none;
}

.c-single-day:last-child {
  border-style: none none none dotted;
}
