.c-main-options {
  top: 0;
  position: sticky;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(1fr, 4);
  margin-bottom: -0.5rem;
  border-width: 0.2rem;
  border-color: white;
  min-width: calc(4 * var(--navbar-btn-size));
  width: 100%;
  height: var(--navbar-height);
  background: #0de;
  box-shadow: 0 0 1rem black;
  z-index: 1;
}

.o-single-option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--navbar-btn-size);
  height: var(--navbar-height);
  line-height: 1.1;
  color: black;
}

.o-single-option:hover {
  background: #0ac;
  color: black;
}

.o-current-option {
  box-shadow: 0 -0.4rem 0 -0.2rem white inset;
}

.c-tab-group {
  top: 0;
  font-weight: bold;
  width: 100%;
}

.o-current-subtab {
  box-shadow: 0.4rem 0 0 -0.2rem white inset;
}

.o-current-subtab:last-child {
  box-shadow: 0.4rem 0 0 -0.2rem white inset;
  border-radius: 0 0 0.6rem 0.6rem;
}

.c-subtab-group {
  display: none;
  position: absolute;
  background-color: #8de;
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow: 0 0.6rem 0.3rem -0.6rem rgba(0, 0, 0, 0.5),
    0.4rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5),
    -0.4rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
  width: 25%;
}

.c-tab-group:hover .c-subtab-group {
  display: block;
}

.o-subtab-option {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--navbar-btn-size);
  height: var(--navbar-height);
  line-height: 1.1;
  color: black;
}

.o-subtab-option:hover {
  background: #8ac;
  color: black;
}

.o-subtab-option:hover:last-child {
  background: #8ac;
  color: black;
  border-radius: 0 0 0.6rem 0.6rem;
}

.o-subtab-text {
  padding: 0 1rem;
}
