.c-main-options {
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -0.5rem;
  border-width: 0.2rem;
  border-color: white;
  width: 100%;
  height: var(--navbar-height);
  background: #0de;
  box-shadow: 0 0 1rem black;
  z-index: 1;
}

.o-single-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--navbar-btn-size);
  height: var(--navbar-height);
  line-height: 1.1;
  color: black;
}

.o-single-option:hover {
  background: #0ac;
  color: black;
}

.o-current-option {
  box-shadow: 0 -0.4rem 0 -0.2rem white inset;
}

.c-tab-group {
  top: 0;
}

.o-tab-group {
  font-weight: bold;
}

.o-current-subtab {
  box-shadow: 0.4rem 0 0 -0.2rem white inset;
}

.o-current-subtab:last-child {
  box-shadow: 0.4rem 0 0 -0.2rem white inset;
  border-radius: 0 0 0.6rem 0.6rem;
}

.c-subtab-group {
  background-color: #8de;
  border-radius: 0 0 0.6rem 0.6rem;
  box-shadow: 0 0.6rem 0.3rem -0.6rem rgba(0, 0, 0, 0.5),
    0.4rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5),
    -0.4rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}

.o-subtab-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--navbar-btn-size);
  height: var(--navbar-height);
  line-height: 1.1;
  color: black;
}

.o-subtab-option:hover {
  background: #8ac;
  color: black;
}

.o-subtab-option:hover:last-child {
  background: #8ac;
  color: black;
  border-radius: 0 0 0.6rem 0.6rem;
}
