.c-devlog-full-page {
  position: absolute;
  top: var(--navbar-height);
  display: grid;
  grid-template-columns: 14rem auto;
  margin: 2rem auto;
  width: 75rem;
  height: 100%;
}

.c-devlog-main-content {
  margin-top: -2rem;
  width: calc(100% - 4rem);
  padding: 0 4rem;
  text-align: left;
}

.c-devlog-sidebar {
  position: sticky;
  top: var(--navbar-height);
  display: grid;
  grid-auto-rows: 2rem 3rem auto;
  height: 40rem;
  padding: 1.5rem;
  text-align: left;
}
