.c-devlog-full-page {
  top: var(--navbar-height);
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  height: 100%;
}

.c-devlog-main-content {
  position: relative;
  top: 0;
  width: calc(100% - 4rem);
  text-align: left;
}

.c-devlog-sidebar {
  position: sticky;
  top: calc(var(--navbar-height));
  display: grid;
  grid-auto-rows: 2rem 3rem auto;
  width: 14rem;
  height: 40rem;
  padding: 1.5rem;
  text-align: left;
}

.o-current-sidebar-indicator {
  position: absolute;
  left: 0.2rem;
}

.o-devlog-dates {
  color: #888;
  margin: -1.5rem 0 1rem;
}
