.c-entries-columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.c-col-narrow {
  position: relative;
  text-align: center;
  border: 0.15rem solid #888;
  width: 30%;
  padding: 1rem;
}

.c-col-wide {
  position: relative;
  width: 65%;
}

.c-entries-img {
  position: relative;
  width: 100%;
}

.c-figure-group {
  border: 0.15rem solid #888;
  padding: 0.5rem;
}

.c-figure-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.c-single-figure {
  width: 33%;
  padding: 0.2rem;
}

.o-quote-box {
  font-size: 0.9rem;
  font-weight: bold;
  border: 0.1rem solid #888;
  padding: 0.2rem;
}
