.c-figure-group {
  border: 0.15rem solid #888;
  padding: 0.5rem;
}

.c-figure-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.c-single-figure {
  width: 33%;
  padding: 0.2rem;
}

.c-single-figure--small {
  padding: 0.2rem 0.5rem;
}

.o-quote-box {
  font-size: 0.9rem;
  font-weight: bold;
  border: 0.1rem solid #888;
  padding: 0.2rem;
}

.c-centered-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.o-small-center-img {
  width: 70%;
}
