:root {
  --color-blob: #fcc21b;
}

.c-squish-state {
  position: relative;
  border: 0.2rem solid;
  border-color: white;
  width: 25rem;
  height: 2rem;
}

.o-squish-bar {
  height: 100%;
  background-color: var(--color-blob);
}

.o-max-indicator {
  position: absolute;
  top: 0;
  border: 0.1rem red solid;
  height: 1.9rem;
}

.c-power-bar {
  position: relative;
  border: 0.1rem solid;
  border-color: white;
  width: 25rem;
  height: 1rem;
}

.o-power-bar {
  height: 100%;
  background-color: white;
}

@media (prefers-color-scheme: light) {
  .c-squish-state {
    border-color: black;
  }

  .o-power-bar {
    background-color: black;
  }

  .c-power-bar {
    border-color: black;
  }
}