:root {
  --color-blob: #fcc21b;
}

.c-blob-tabs {
  position: fixed;
  top: var(--navbar-height);
  margin-top: 2rem;
  width: 100%;
}

.o-blob-button {
  border-radius: 0.3rem;
  border: 1px solid black;
  margin: 0.6em;
  width: 10rem;
  padding: 0.6em;
  font-size: 1em;
  color: black;
  background-color: var(--color-blob);
  cursor: pointer;
}

.o-blob-button:hover {
  filter: brightness(80%);
}
