.c-full-week {
  position: relative;
  border: 0.2rem solid;
  border-color: #ccc;
  background-color: #777;
  padding: 0.1rem 0.2rem 0.1rem 0.1rem;
  height: 4.5rem;
  width: 100%;
  margin: 3rem;
}

@media (prefers-color-scheme: light) {
  .c-full-week {
    border-color: black;
  }
}

.c-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: black;
  height: 100%;
  width: 100%;
}

.c-sleep {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: -100%;
  height: 100%;
  overflow: hidden;
}

/* #region SingleDay */

.c-single-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    to right,
   #004 0% 18%,
   orange 25%,
   cyan 32% 68%,
   orange 75%,
   #004 82% 100%);
  border: 0.1rem gray;
  border-style: none dotted;
  height: 100%;
  width: 100%;
}

.c-single-day:first-child {
  border-style: none dotted none none;
}

.c-single-day:last-child {
  border-style: none none none dotted;
}

/* #endregion SingleDay */

/* #region SingleSleep */

.c-single-sleep {
  position: absolute;
  background: #ccc;
  border: 0.1rem solid red;
  border-radius: 0.4rem;
  top: 45%;
  height: 35%;
  /* Approx. equal to 4/168 (168 hours per week), minus the border width */
  width: calc(2.381% - 0.1rem);
}

.c-single-sleep .o-sleep-box-tooltip {
  position: absolute;
  width: 20rem;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 0.1rem 0;
  border-radius: 6px;
  visibility: hidden;
  top: -120%;
  z-index: 1;
}

.c-single-sleep:hover .o-sleep-box-tooltip {
  visibility: visible;
}

.o-sleep-box-tooltip::after {
  position: absolute;
  content: " ";
  top: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: #444 transparent transparent transparent;
}

.o-sleep-box-tooltip--left {
  left: -0.3rem;
}

.o-sleep-box-tooltip--left::after {
  left: 0.8rem;
}

.o-sleep-box-tooltip--right {
  right: -0.3rem;
}

.o-sleep-box-tooltip--right::after {
  right: 0.8rem;
}

/* #endregion SingleSleep */

/* #region TimeIndicator */

.o-time-indicator {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.2rem;
}

.o-time-indicator .o-time-indicator-text {
  position: absolute;
  width: 18rem;
  background-color: #666;
  color: #fff;
  text-align: center;
  padding: 0.2rem 0;
  border-radius: 6px;
  visibility: visible;
  top: 110%;
}

.o-time-indicator-text::after {
  position: absolute;
  content: " ";
  bottom: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #666 transparent;
}

.o-time-tooltip--left {
  left: -1rem;
}

.o-time-tooltip--left::after {
  left: 0.8rem;
}

.o-time-tooltip--right {
  right: -1rem;
}

.o-time-tooltip--right::after {
  right: 0.8rem;
}

/* #endregion TimeIndicator */
