#root {
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to bottom, #788 0%, #222 95%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --navbar-height: 4.5rem;
  --navbar-btn-size: 8rem;
}

/* #region Global Tags */

a {
  font-weight: 500;
  color: #8af;
  text-decoration: inherit;
}
a:hover {
  color: #37c;
}

body {
  place-items: center;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  text-decoration: underline;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled{
  background-color: #888;
  border-color: #222;
}

/* #endregion Global Tags */

/* #region Common containers */

.c-site-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.c-page-layout {
  place-self: center;
  max-width: 75rem;
  padding: 0 4rem;
  padding-bottom: 2rem;
}

.c-grayscale-content-bg {
  background: linear-gradient(to right, transparent 0%,
    rgba(100, 110, 110, 0.8) 2%, rgba(100, 110, 110, 0.8) 98%,
    transparent 100%);
}

.c-image-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-vert-center {
  transform: translateY(50%);
  height: calc(100% - var(--navbar-height));
}

.c-text {
  text-align: left;
}

.c-entries-columns {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.c-col-narrow {
  position: relative;
  text-align: center;
  border: 0.15rem solid #888;
  width: calc(33% - 2rem);
  padding: 1rem;
}

.c-col-narrow--borderless {
  position: relative;
  width: 33%;
}

.c-col-wide {
  position: relative;
  width: 65%;
}

.c-col-equal {
  position: relative;
  width: calc(50% - 2rem);
  padding: 1rem;
}

.c-col-equal--bordered {
  position: relative;
  text-align: center;
  border: 0.15rem solid #888;
  width: calc(50% - 2rem);
  padding: 1rem;
}

.c-inset-img {
  position: relative;
  width: 100%;
}

.c-inline-icon {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
}

/* #endregion Common containers */

.o-code-text {
  font-family: Consolas, Menlo, "courier new", monospace;
  background-color: #111;
  padding: 0 0.2rem;
}
