.c-main-options {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -0.5rem;
  border-width: 0.2rem;
  border-color: white;
  width: 100%;
  height: var(--navbar-height);
  background: linear-gradient(to bottom, #aaa 0%, #aaa 90%, transparent 100%);
  z-index: 1;
}

.o-single-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: var(--navbar-height);
  line-height: 1.1;
  color: black;
}

.o-single-option:hover {
  background: linear-gradient(to bottom, #777 0%, #777 90%, transparent 100%);
  color: black;
}

.o-current-option {
  background: linear-gradient(to bottom, transparent 0%, transparent 90%, white 100%);
}

.o-current-option:hover {
  background: linear-gradient(to bottom, #777 0%, #777 90%, white 100%);
}
