#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.c-main-options {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #aaa;
  border-bottom-style: solid;
  border-width: 0.2rem;
  border-color: white;
  width: 100%;
  height: 4rem;
  top: 0;
}

.o-single-option {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 15rem;
  height: 4rem;
  line-height: 1.1;
}

.o-single-option:hover {
  background-color: #777;
  color: white;
}

@media (prefers-color-scheme: light) {
  .c-main-options {
    background-color: #777;
    border-color: black;
  }

  .o-single-option {
    border-color: #aaa;
    color: #ccc;
  }

  .o-single-option:hover {
    background-color: #333;
    color: white;
  }
}
